.header-title {
    color: #272727;
    font-size: 150px;
    font-weight: 800;
    padding: 50px 97px;
    margin: 90px 300px;
    margin-bottom: 0%;

}



.header-div {
    margin-left: 70px;
}

.header-description {
    color: #272727;
    font-size: 35px;

    margin: 0px 400px 0px;
    border-top: 0;



}

.header-button {
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin: 50px 395px 0px;
    font-size: 40px;
}

header {
    background: rgba(228, 84, 115, 0.1);
    width: 3180px;
    height: 850px;
    padding: 100px 0px 100px 0px;
    display: flex;
    margin: 100px 300px;
    align-items: center;
}

.header-flower {
    width: 935px;
    height: 1050px;
    text-align: center;

}

/* featured section style */

.first-title {
    font-size: 70px;
    text-align: center;

}

.first-description {
    font-size: 40px;
    text-align: center;
   

}

.first-section {
    padding: 30px 200px;
}

.item-container {
    display: flex;
    gap: 40px;
    width: 700px;
    height: 900px;
    margin: 100px 500px;
   

}

.item1 {

    padding: 200px 24px 50px 250px;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 300px 300px;

    background: rgba(146, 26, 36, 0.15);


}

.item2 {

    padding: 200px 24px 50px 250px;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 300px 300px;
    background: rgba(5, 151, 160, 0.15);


}

.item3 {

    padding: 200px 24px 50px 250px;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 300px 300px;
    background: rgba(167, 33, 98, 0.15);

}

.flower-item-description {
    font-size: 60px;
    color: #422c2c;
   
    
}

.item-image1 {
    width: 470px;
    height: 600px;
    padding-bottom: 50px;
    padding-right: 600px;

}

.item-image2 {
    width: 414px;
    height: 600px;
   
    

}

.item-image3 {
    width: 410px;
    height: 600px;
    padding-right: 600px;


}