.header-title {
    color: #272727;
    font-size: 150px;
    font-weight: 800;
    padding: 50px 97px;
    margin: 90px 300px;
    margin-bottom: 0%;

}



.header-div {
    margin-left: 70px;
}

.header-description {
    color: #272727;
    font-size: 35px;

    margin: 0px 400px 0px;
    border-top: 0;



}

.header-button {
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin: 50px 395px 0px;
    font-size: 40px;
}

header {
    background: rgba(228, 84, 115, 0.1);
    width: 3180px;
    height: 850px;
    padding: 100px 0px 100px 0px;
    display: flex;
    margin: 100px 300px;
    align-items: center;
}

.header-flower {
    width: 935px;
    height: 1050px;
    text-align: center;

}

/* featured section style */

.first-title {
    font-size: 70px;
    text-align: center;

}

.first-description {
    font-size: 40px;
    text-align: center;


}

.first-section {
    padding: 30px 200px;
}

.item-container {
    display: flex;

    gap: 40px;
    width: 700px;
    height: 1000px;
    margin: 100px 500px;



}

.item1 {

    padding: 200px 24px 50px 150px;
    width: 500px;
    height: 600px;
    border-radius: 300px 300px 300px 300px;

    background: rgba(146, 26, 36, 0.15);



}

.item2 {
    padding: 200px 24px 50px 250px;
    width: 500px;
    height: 600px;
    border-radius: 300px 300px 300px 300px;
    background: rgba(5, 151, 160, 0.15);


}

.item3 {

    padding: 200px 24px 50px 250px;
    width: 500px;
    height: 600px;
    border-radius: 300px 300px 300px 300px;
    background: rgba(167, 33, 98, 0.15);

}

.flower-item-description {
    font-size: 50px;
    color: #422c2c;
    padding: 40px 10px;




}

.item-image1 {
    width: 470px;
    height: 600px;
    padding-bottom: 50px;
    padding-right: 600px;

}

.item-image2 {
    width: 414px;
    height: 600px;



}

.item-image3 {
    width: 410px;
    height: 600px;

}

/* second-section style */
.second-section {

    background: rgba(56, 22, 22, 0.05);
    width: 2500px;
    height: 750px;
    display: flex;
    margin: 0px 500px 0px;
    gap: 50px;
    align-items: center;

    border-radius: 300px 300px 300px 300px;
}

.second-item-image {
    height: 500px;
    width: 500px;
    padding-left: 200px;
    text-align: center;
}

.image-position {
    height: 300px;
    width: 300px;
}

/* third-section style */
.third-section {
    height: 800px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    margin: 100px 500px 100px 500px;
}
.third-section-text{
    margin: 100px 0px 100px 200px;
    text-align: center;
    
}
.third-image{
    padding-left: 300px;
}
/* fourth section */
.fourth-section{
    height: 200px;
    margin: 5px 500px;
}